* {
    margin: 0;
    padding: 0;
}

.App {
    position: relative;

    min-height: 100vh;
}

body {
    font-family: 'Open sans';
    background-color: var(--secondary);
}


::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: #34495e;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --primary: #041c35;
    --secondary: #172c42;
    --formColor: #0723416a;
    --mobile-sidebar: #34495e;
    --white: #FFF;
    --green: #2ab263;
    --mobile-green: #078809;
    --lightGreen: #50cf52;
    --border-radius: 10px;
}


.container {
    max-width: 1240px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
    box-sizing: border-box;
}

.container:not(#Header .container, #footer .container){
    padding-bottom:50px ;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* === H E A D E R === */


/* --- React Router */

.nav-list .active {
    background-color: var(--white);
    color: black !important;
    padding: 8px 15px;
    border-radius: var(--border-radius);
}

/* --- React Router */


#Header {
    height: 100px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile {
    width: 66%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-main .link {
    color: var(--white);
    cursor: pointer;
    transition: all .3s;
}

.logo {
    font-size: 27px;
}

.logo img {
    width: 30px;
    vertical-align: middle;
    margin-left: 7px;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-list .link {
    font-size: 21px;
    text-transform: capitalize;
}

.header-main .link:hover:not(.logo .link) {
    opacity: .8;
}

.login .link {
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: var(--green);
    padding: 15px 20px;
    border-radius: var(--border-radius);
}

.login img {
    width: 22px;
    vertical-align: middle;
}

.mobile-bar {
    display: none;
}


/* === H E A D E R - E N D === */



/* === H O M E === */



.home-main {
    display: flex;
    justify-content: space-between;
}

/* ------ home iinfo (left) */

.home-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.home-title {
    font-size: 65px;
    line-height: 80px;
    color: var(--white);

}

.home-text {
    font-size: 19px;
    line-height: 30px;
    font-weight: 500;
    color: #ffffffda;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
}

.home-text span {
    margin-top: 10px;
}

.learn-more,
.contact-link {
    display: inline-block;
    padding: 13px 20px;
    border-radius: var(--border-radius);
    width: max-content;
    margin-right: 15px;
}

.learn-more {
    color: var(--white);
    background-color: #5f9212;
}

.contact-link {
    background-color: var(--white);
    color: black;
}

.sosial-media {
    margin: 35px 0 15px;
}

.sosial-media svg {
    fill: var(--white);
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

/* --------- home image (right) */

.home-image {
    height: 550px;
    width: 100%;
}

.home-image img {
    width: 100%;
    height: 100%;
}




/* === H O M E - E N D === */

/* === A B O U T === */

/* :::::: ------- hover ------ :::::: */


.about-counts>li:hover {
    background-color: var(--lightGreen);
    transform: scale(1.1);
}

.about-counts>li:hover span {
    color: var(--white);
}

/* :::::: ------- hover ------ :::::: */

.about-main {
    display: flex;
}

.about-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-info-header {
    color: var(--lightGreen);
    font-size: 40px;
    font-weight: 700;
}

.about-info-title {
    color: var(--white);
    font-size: 40px;
    margin: 15px 0;
}

.about-info-text {
    color: #ffffffda;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 30px;
}

.about-counts {
    display: flex;
}

.about-counts>li {
    border: 1px solid #5f921236;
    padding: 20px;
    border-radius: 10px;
    transition: all .3s;
    margin-right: 20px;
}

.about-counts span {
    color: var(--lightGreen);
    font-weight: 600;
    font-size: 30px;
}

.about-counts p {
    color: #ffffffda;
    font-size: 18px;
    line-height: 27px;
}

.about-image {
    width: 100%;
}

.about-image img {
    object-fit: contain;
    width: 100%;
    height: 550px;
}

/* === A B O U T - E N D === */


/* === C O N T A C T === */

#Contact {
    padding-bottom: 10px;
}

.contact-main {
    display: flex;
}



.contact-image {
    width: 100%;
    display: flex;
    align-items: center;
}

.contact-image img {
    object-fit: contain;
    width: 100%;
    height: 500px;
}

.contact-form-div {
    width: 100%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
textarea {
    padding: 20px;
    border-radius: 10px;
    background: var(--formColor);
    border: 1px solid #50cf5235;
    color: var(--white);
    resize: none;
    outline: 0;
}

.contact-form button {
    padding: 15px;
    border: 0;
    border-radius: 10px;
    margin-top: 5px;
    background: var(--lightGreen);
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.contact-form button:hover {
    opacity: .9;
}

.contact-form input::placeholder,
textarea::placeholder {
    color: var(--white);
}

/* === C O N T A C T - E N D === */


/* === L O G I N === */

.login-div {
    max-width: 500px;
    width: 100%;
    margin: 100px auto 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.login-div input {
    padding: 20px;
    border-radius: 10px;
    background: var(--formColor);
    border: 1px solid #50cf5235;
    outline: 0;
    color: var(--white);
}


.login-div input::placeholder,
button::placeholder {
    color: var(--white);
}





.login-div button {
    font-size: 20px;
    font-weight: 700;
    padding: 15px;
    border: 0;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--lightGreen);
}

.login-div>button {
    background-color: black;
    margin-top: 10px;
    width: 100%;
}

.button-gh svg {
    margin-left: 10px;
}


.login-div button:hover {
    opacity: .9;
}

.login-register {
    color: var(--white);
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}

.login-register a {
    margin-left: 5px;
    font-weight: 700;
    color: var(--white);
}

/* === L O G I N - E N D === */



/* === F O O T E R === */

#footer {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-main a {
    font-size: 25px;
    font-weight: 600;
    color: #5e768e;
}

.footer-main span {
    color: #5e768e;
}

/* === F O O T E R - E N D === */








/* /////////////// R E S P O N S I V E \\\\\\\\\\\\\\ */




@media only screen and (max-width:992px) {

    /* - - - - H E A D E R - - - - */

    #Header {
        height: 70px;
    }

    .logo {
        font-size: 23px;
    }

    .mobile {
        position: absolute;
        top: 0;
        left: -300px;
        bottom: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        width: 300px;
        background-color: var(--mobile-sidebar);
        z-index: 3;
        transition: left .15s linear;
    }

    .active-m .mobile {
        left: 0px;
    }

    .active-m::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ffffff45;
        backdrop-filter: blur(5px);
        z-index: 1;
    }


    .mobile .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .login .link {
        background-color: var(--mobile-green);
    }


    .mobile-bar {
        display: block;
        position: relative;
        z-index: 2;
    }

    .mobile-bar::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }


    .mobile-bar svg {
        fill: var(--white);
        width: 28px;
        height: 25px;
    }


    /* - - - - H E A D E R  E N D - - - - */

    /* - - - - H O M E - - - - */

    .home-main {
        flex-direction: column;
    }

    .home-info {
        align-items: center;
    }

    .home-title {
        width: 200px;
    }

    .home-text {
        text-align: center;
    }



    .home-image {
        display: flex;
        justify-content: center;
        height: 400px;
    }

    .home-image img {
        max-width: 400px;
        width: 100%;
    }



    /* - - - - H O M E  E N D - - - - */


    /* - - - - A B O U T - - - - */

    .about-main {
        flex-direction: column;
    }



    .about-image img {
        height: 330px;
    }

    /* - - - - A B O U T  E N D - - - - */


    /* - - - - C O N T A C T  E N D - - - - */


    .contact-image img {
        height: 330px;
    }

    /* - - - - C O N T A C T  E N D - - - - */


    /* - - - - L O G I N - - - - */

    .login-div {
        margin: 50px auto 10px;
    }

    /* - - - - L O G I N  E N D - - - - */



}



@media only screen and (max-width:578px) {

    .container {
        padding: 0 15px;
    }




    /* - - - - - H O M E - - - - - */

    .home-image img {
        max-width: 350px;
    }



    /* - - - - - H O M E  E N D- - - - - */


    /* - - - - - A B O U T - - - - - */

    .about-info {
        text-align: center;
        margin-top: 20px;
    }

    .about-info-header {
        font-size: 25px;
    }

    .about-info-title {
        font-size: 18px;
    }

    .about-info-text {
        font-size: 15px;
    }

    .about-counts>li {
        padding: 10px;
    }

    .about-counts span {
        font-size: 18px;
    }

    .about-counts p {
        font-size: 13px;
        line-height: 24px;
    }

    /* - - - - - A B O U T  E N D- - - - - */


    /* - - - - C O N T A C T  - - - - */


    .contact-main {
        flex-direction: column;
    }

    .contact-image img {
        height: 250px;
        padding: 20px 0;
    }

    .contact-form button {
        font-size: 18px;
        padding: 10px 0;
    }

    /* - - - - C O N T A C T  E N D - - - - */


    /* - - - - C O N T A C T  E N D - - - - */

    .login-div button {
        padding: 10px;
    }

    /* - - - - C O N T A C T  E N D - - - - */


    /* - - - - L O G I N - - - - */

    .login-div {
        margin: 20px auto 10px;
    }

    /* - - - - L O G I N  E N D - - - - */


    /* - - - - - F O O T E R - - - - - */

    .footer-main a {
        font-size: 19px;
    }

    .footer-main span {
        font-size: 15px;
        text-align: end;
    }



    /* - - - - - F O O T E R  E N D- - - - - */
}