* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open sans';
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --primary: #041c35;
    --secondary: #172c42;
    --formColor: #0723416a;
    --mobile-sidebar: #34495e;
    --white: #FFF;
    --green: #2ab263;
    --mobile-green: #078809;
    --lightGreen: #50cf52;
    --border-radius: 10px;
}


.container {
    max-width: 1240px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}


/* === H E A D E R === */


/* --- React Router */

.nav-list .active {
    background-color: var(--white);
    color: black !important;
    padding: 8px 15px;
    border-radius: var(--border-radius);
}

/* --- React Router */


#Header {
    height: 100px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile {
    width: 66%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-main .link {
    color: var(--white);
    cursor: pointer;
    transition: all .3s;
}

.logo {
    font-size: 27px;
}

.logo img {
    width: 30px;
    vertical-align: middle;
    margin-left: 7px;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-list .link {
    font-size: 21px;
    text-transform: capitalize;
}

.header-main .link:hover:not(.logo .link) {
    opacity: .8;
}

.login .link {
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: var(--green);
    padding: 15px 20px;
    border-radius: var(--border-radius);
}

.login img {
    width: 22px;
    vertical-align: middle;
}

.mobile-bar {
    display: none;
}


/* === H E A D E R - E N D === */






/* /////////////// R E S P O N S I V E \\\\\\\\\\\\\\ */

@media only screen and (max-width:992px) {

    /* - - - - H E A D E R - - - - */

    #Header {
        height: 70px;
    }

    .logo {
        font-size: 23px;
    }

    .mobile {
        position: absolute;
        top: 0;
        left: -300px;
        bottom: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        width: 300px;
        background-color: var(--mobile-sidebar);
        z-index: 2;
        transition: left .15s linear;
    }

    .active-m .mobile {
        left:0px;
    }

    .active-m::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ffffff45;
        backdrop-filter: blur(5px);
        z-index: 1;
    }


    /* .mobile::after{
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: red;
        top: 0;
        left: 0;
    } */

    .mobile .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .login .link {
        background-color: var(--mobile-green);
    }


    .mobile-bar {
        display: block;
        position: relative;
        z-index: 2;
    }
    .mobile-bar::after{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }


    .mobile-bar svg {
        fill: var(--white);
        width: 28px;
        height: 25px;
    }


    /* - - - - H E A D E R  E N D - - - - */

}